@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



  body {
    font-family: 'Cabin', sans-serif; /* Apply Cabin font to the entire app */
    
  }
